<div>
  <mat-card id="header-card">
    <h1>Overview</h1>
  </mat-card>
</div>
<div id="content" style="margin: 15px 6px 15px 6px;">
  <div style="height: 100%;">
    <mat-grid-list id="graph-list" gutterSize="5" cols="12" rowHeight="fit" style="height: 100%;">
      <mat-grid-tile colspan="3">
        <mat-card style="display: grid;">
          <div id="mapid" style="cursor: default; position: relative;">
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-card style="display: grid;">
          <mat-card-title>
            <strong>Check results</strong>
          </mat-card-title>
          <app-bar-chart [inputData]="inputData"></app-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-card style="display: grid;">
          <mat-card-title>
            <strong>Amount of checked</strong>
          </mat-card-title>
          <app-horizontal-normalized-bar-chart [inputData]="inputData"></app-horizontal-normalized-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" *ngIf="userInputData">
        <mat-card style="display: grid;">
          <mat-card-title>
            <strong>Who labels the most?</strong>
          </mat-card-title>
          <app-horizontal-bar-chart [inputData]="userInputData"></app-horizontal-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="2">
        <app-table (editAudio)="isEditElement($event)" (textAudio)="setTextAudio($event)"></app-table>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
