<mat-toolbar color="primary" id="navigation-toolbar">
  <mat-button-toggle title="Navigation menu"
                     style="position: absolute; height: 32px; border-radius: 50%; width: 32px; top: 8px; background: none; border: none;" (click)="toggleSidenav()">
    <mat-icon style="position: absolute; top: -19px; left: 0; color: white;">
      menu
    </mat-icon>
  </mat-button-toggle>
  <div style="margin-left: 45px;">
    <h1 style="float: left;">Labeling Tool</h1>
  </div>
  <span *ngIf="!authService.isAuthenticated && !router.url.includes('login')"
    style="position: absolute; right: 30px; cursor: pointer;" [routerLink]="['labeling-tool/login']">
    Login
  </span>
  <ng-container *ngIf="authService.isAuthenticated">
    <app-avatar [size]="32" [matMenuTriggerFor]="menu" [user]="authService.loggedInUser" [fontSize]="15" [borderRadius]="50"
      style="float: right;"></app-avatar>
    <mat-menu #menu>
      <mat-list style="padding: 0;">
        <mat-list-item [routerLink]="['/labeling-tool/profile']">Profile</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="apiService.logOut()">Log Out</mat-list-item>
      </mat-list>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<mat-sidenav-container id="sidenav-container">
  <mat-sidenav fixedInViewport #sidenav mode="over">
    <div>
      <mat-list>
        <ng-container *ngFor="let bookmark of bookmarksContainer">
          <mat-list-item *ngIf="bookmarksContainer.includes(bookmark)" (click)="redirectToPage(bookmark.title.toLocaleLowerCase())">
            <mat-icon>{{bookmark.matIcon}}</mat-icon>
            <span>{{bookmark.title}}</span>
            <mat-icon (click)="unmarkAsBookmark(bookmark)" title="Remove as bookmark" class="unbookmark">bookmark
            </mat-icon>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="authService.isAuthenticated">
          <ng-container *ngFor="let naviItem of navigationContainer">
            <mat-list-item *ngIf="navigationContainer.includes(naviItem)" (click)="redirectToPage(naviItem.title.toLocaleLowerCase())">
              <mat-icon>{{naviItem.matIcon}}</mat-icon>
              <span>{{naviItem.title}}</span>
              <mat-icon (click)="markAsBookmark(naviItem)" title="Add as bookmark" class="bookmark">bookmark
              </mat-icon>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="overflow-y: hidden; margin-top: 45px;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
