<mat-icon (click)="close()" style="cursor: pointer; float: right;">close</mat-icon>
<div style="text-align: center;">
  <h2>Shortcuts</h2>
</div>
<hr style="color: lightgray;">
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div style="border: 1px solid lightgray; padding: 15px; border-radius: 4px;">
      <span>P</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="border: 1px solid lightgray; padding: 15px; border-radius: 4px;">
      <span>C</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="border: 1px solid lightgray; padding: 15px; border-radius: 4px;">
      <span>W</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="border: 1px solid lightgray; padding: 15px; border-radius: 4px;">
      <span>S</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <span style="font-style: italic;">Play/Stop</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span style="font-style: italic;">Correct</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span style="font-style: italic;">Wrong</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span style="font-style: italic;">Skip</span>
  </mat-grid-tile>
</mat-grid-list>
