<div>
  <mat-card id="header-card">
    <h1 style="margin: 0;">Overview</h1>
    <mat-slide-toggle labelPosition="before" color="primary" style="position: absolute; right: 15px; top: 16px;"
                      (toggleChange)="toggleChangeView()">
      <span>See only recordings</span>
    </mat-slide-toggle>
  </mat-card>
</div>
<div id="content" style="margin: 15px 6px 15px 6px;">
  <div style="height: 100%;">
    <mat-grid-list cols="12" gutterSize="5" id="graph-list" rowHeight="fit" style="height: 100%;">
      <mat-grid-tile colspan="12" rowspan="2">
        <mat-card style="position: absolute; top: 0; left: 5px; width: calc(50% + 155px); height: calc(100% - 35px);">
          <div style="width: 100%; height: 100%; padding: 0;" [hidden]="showAll && dataSource.data.length === 0">
            <table [dataSource]="dataSource" id="overview-table" mat-table matSort
                   style="width: 100%; height: calc(100% - 50px); padding: 0; text-align: initial;">
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
                <td *matCellDef="let element" mat-cell>{{element.id}}</td>
              </ng-container>
              <ng-container matColumnDef="audioStart">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>AudioStart</th>
                <td *matCellDef="let element" mat-cell>{{element.audioStart | number : '1.2-5'}}</td>
              </ng-container>
              <ng-container matColumnDef="audioEnd">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>AudioEnd</th>
                <td *matCellDef="let element" mat-cell>{{element.audioEnd | number : '1.2-5'}}</td>
              </ng-container>
              <ng-container matColumnDef="text">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Text</th>
                <td [title]="element.text" *matCellDef="let element" mat-cell
                    style="max-width: 400px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding-right: 15px;">{{element.text}}</td>
              </ng-container>
              <ng-container matColumnDef="fileId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>FileId</th>
                <td *matCellDef="let element" mat-cell>{{element.fileId}}</td>
              </ng-container>
              <ng-container matColumnDef="speaker">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Speaker</th>
                <td *matCellDef="let element" mat-cell>{{element.speaker}}</td>
              </ng-container>
              <ng-container matColumnDef="labeled">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Labeled</th>
                <td *matCellDef="let element" mat-cell>{{element.labeled | IntToBooleanPipe}}</td>
              </ng-container>
              <ng-container matColumnDef="correct">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Correct</th>
                <td *matCellDef="let element" mat-cell>{{element.correct}}</td>
              </ng-container>
              <ng-container matColumnDef="wrong">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Wrong</th>
                <td *matCellDef="let element" mat-cell>{{element.wrong}}</td>
              </ng-container>
              <ng-container matColumnDef="username">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>User</th>
                <td *matCellDef="let element" mat-cell>
                  <app-avatar [username]="element.username" [hover]="'default'" [borderRadius]="50" [fontSize]="15"
                              [size]="32"></app-avatar>
                </td>
              </ng-container>
              <ng-container matColumnDef="time">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Time</th>
                <td *matCellDef="let element" mat-cell>{{element.time}}</td>
              </ng-container>
              <tr *matHeaderRowDef="showAll ? allColumns : recordingColumns; sticky: true" mat-header-row></tr>
              <tr (click)="previewElement(row)" *matRowDef="let row; columns: showAll ? allColumns : recordingColumns;"
                  class="table-row"
                  mat-row style="height: 25px; cursor: pointer;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[30, 10, 20]" showFirstLastButtons></mat-paginator>
            <div *ngIf="showAll" style="position: absolute; bottom: 10px; left: 15px;">
              <mat-button-toggle (click)="generateTable()">Export as CSV</mat-button-toggle>
            </div>
          </div>
          <div style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 0;"
               *ngIf="data.length === 0 && showAll">
            <div style="font-weight: bold;">No Data to display</div>
          </div>
        </mat-card>
        <div>
          <mat-card
            [style.align-items]="(!waveSurferIsReady && waveSurfer == null) ? 'center' : 'initial'"
            style="width: calc(50% - 245px); height: calc(100% - 35px); position: absolute; top: 0; right: 5px;">
            <div style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 0;">
              <div style="font-weight: bold;" *ngIf="!waveSurferIsReady && waveSurfer === null">
                Please select an element in the table to view more details
              </div>
              <div style="width: 100%; height: 100%;" [hidden]="!waveSurferIsReady">
                <div style="width: 100%; height: 100%;">
                  <div id="wave" style="border: 1px solid lightgrey; border-radius: 4px;">
                    <div id="waveform" style="cursor: pointer;"></div>
                  </div>
                  <div id="wave-navigation" style="display: flex; justify-content: left; margin-top: 10px;">
                    <mat-button-toggle-group>
                      <mat-button-toggle (click)="togglePlay()" *ngIf="!isPlaying" title="Play">
                        <mat-icon>play_arrow</mat-icon>
                      </mat-button-toggle>
                      <mat-button-toggle (click)="togglePlay()" *ngIf="isPlaying" title="Pause">
                        <mat-icon>pause</mat-icon>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-slider #volumeSlider (input)="setVolume($event)" max="100" min="0" step="1"
                                value="100"></mat-slider>
                    <mat-button-toggle *ngIf="showAll" style="position: absolute; right: 120px; line-height: 49px;"
                                       title="Seek selected audio passage" (click)="setViewToRegion(dummyTextAudio)">
                      <mat-icon>my_location</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="position: absolute; right: 15px; width: 100px;" title="Toggle Edit"
                                       (click)="toggleEdit()">
                      <span *ngIf="!isEditText">Edit</span>
                      <span *ngIf="isEditText">Cancel Edit</span>
                    </mat-button-toggle>
                  </div>
                  <div style="height: calc(100% - 200px);">
                    <div *ngIf="!isEditText"
                         style="overflow-y: auto; border: 1px solid lightgrey; border-radius: 4px; height: calc(100% - 30px); margin-top: 10px; font-size: 16px; text-align: initial; padding: 15px;">
                      {{text}}
                    </div>
                    <div *ngIf="isEditText"
                         style="width: 100%; border-radius: 4px; height: 100%; margin-top: 10px;">
          <textarea #textAreaText
                    [value]="text"
                    style="padding: 15px; border-radius: 4px; border: 1px solid lightgray; height: calc(100% - 90px); resize: none; width: calc(100% - 30px); font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: 16px;"></textarea>
                      <mat-button-toggle-group style="margin-top: 5px; width: 100%;">
                        <mat-button-toggle style="width: 100%;" (click)="submitChange()" *ngIf="isEditText"
                                           class="audio-nav-button">Submit
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!waveSurferIsReady && this.waveSurfer !== null">
                <mat-spinner></mat-spinner>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
