<div>
  <mat-card id="header-card">
    <h1>Overview</h1>
  </mat-card>
</div>
<div id="content">
  <div style="height: 100%;">
    <mat-grid-list id="graph-list" gutterSize="15" cols="3" rowHeight="fit" style="height: 100%;">
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>
            <strong>Check results</strong>
          </mat-card-title>
          <app-bar-chart></app-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>
            <strong>Amount of checked</strong>
          </mat-card-title>
          <app-horizontal-normalized-bar-chart></app-horizontal-normalized-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>
            <strong>Who labels the most?</strong>
          </mat-card-title>
          <app-horizontal-bar-chart></app-horizontal-bar-chart>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <mat-card>
          <mat-card-title>
            <strong>Interesting numbers</strong>
          </mat-card-title>
          <app-table></app-table>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!--<mat-card>
    <app-table [vale]="str"></app-table>
    <div style="position: absolute; bottom: 15px;">
      <mat-button-toggle (click)="generateTable()">Export as CSV</mat-button-toggle>
    </div>
  </mat-card>
  <mat-card>
    <app-pie-chart (vale)="getVale($event)"></app-pie-chart>
  </mat-card>
  <mat-card>
    <app-bar-chart></app-bar-chart>
  </mat-card>-->
</div>
