.recording {
  animation: blinker 1s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.content-card {
  margin: 15px;
}

.background-white {
  background-color: white;
  text-align: center;
}

.start-recording {
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px
}

.margin {
  margin: 15px 15px 0 15px;
}

.submit {
  margin-left: 5px;
  line-height: 50px;
  padding: 0 12px;
  position: absolute;
}

.wave {
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}
