<div [hidden]="!excerpt">
  <mat-card class="margin">
    <h1>Record</h1>
    <b>Excerpt: </b><span>{{excerpt?.excerpt}}</span>
  </mat-card>
  <mat-card class="margin">
    <button (click)="startRecord()" *ngIf="!this.isRecording" mat-raised-button title="Start recording">
      <mat-icon [ngClass]="isRecordingM()">fiber_manual_record</mat-icon>
    </button>
    <button (click)="stopRecord()" *ngIf="this.isRecording" mat-raised-button title="Stop recording">
      <mat-icon>stop</mat-icon>
    </button>
    <button (click)="togglePlay()" mat-raised-button title="Play/Pause recording replay">
      <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
      <mat-icon *ngIf="isPlaying">stop</mat-icon>
    </button>
    <button (click)="submit()" *ngIf="audioChunks .length>0" class="submit" color="primary" mat-flat-button
            title="Submit your recording">Submit
    </button>
    <button (click)="private()" mat-raised-button title="Private">
      <mat-icon>lock</mat-icon>
      <span>&nbsp;Private</span>
    </button>
    <button (click)="skip()" mat-raised-button title="Skip">
      <mat-icon>skip_next</mat-icon>
      <span>&nbsp;Skip</span>
    </button>
  </mat-card>
</div>
<div *ngIf="!excerpt">No more data available</div>
