<div style="height: 40%; margin-top: -12px; background-color: #303f9f; display: flex; justify-content: center;">
  <mat-card style="margin: 15px; width: 50%; position: absolute;"
            [style.height]="currentView === profileView.ProfileEdit ? '500px' : 'calc(100% - 130px)'" id="header-card">
    <div style="height: 10%; display: flex; align-items: center; margin-top: -15px;">
      <h1 style="margin: 0;">Account Settings</h1>
    </div>
    <mat-divider></mat-divider>
    <div style="width: 70%; float: left; height: 90%;">
      <ng-container *ngIf="currentView === profileView.ProfileView">
        <mat-list>
          <mat-list-item>
            <span>First name:</span>&nbsp;
            <span class="info-input">{{user.firstName}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Last name:</span>&nbsp;
            <span class="info-input">{{user.lastName}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Email:</span>&nbsp;
            <span class="info-input">{{user.email}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Canton:</span>&nbsp;
            <span class="info-input">{{user.canton | CantonIdToCanton}}</span>
          </mat-list-item>
          <mat-list-item>
            <span>Password:</span>&nbsp;
            <mat-button-toggle style="position: absolute; left: 200px;"
                               (click)="currentView = profileView.PasswordEdit">Change
            </mat-button-toggle>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-container *ngIf="currentView === profileView.PasswordEdit">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div>
            <div>
              <mat-form-field style="width: 100%;">
                <input type="password" matInput placeholder="Old Password" formControlName="password">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 100%;">
                <input type="password" matInput placeholder="New Password" formControlName="newPassword">
              </mat-form-field>
            </div>
            <div>
              <button mat-button
                      style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px; bottom: 0;"
                      type="submit">Submit
              </button>
              <button (click)="currentView = profileView.ProfileView" mat-button type="button"
                      style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px; bottom: 0;">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="currentView === profileView.ProfileEdit">
        <form style="margin: 30px;" [formGroup]="changeProfileForm"
              (ngSubmit)="changeProfile()">
          <div>
            <mat-form-field style="width: 100%;">
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <input type="text" matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <input type="text" matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Canton</mat-label>
              <mat-select formControlName="canton">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let canton of apiService.cantons"
                            [value]="canton.cantonId">{{canton.cantonName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-button
                    style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px;"
                    type="submit">Submit change Profile
            </button>
            <button mat-button
                    style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px; margin-left: 5px;"
                    (click)="currentView = profileView.ProfileView">Cancel
            </button>
          </div>
        </form>
      </ng-container>
    </div>
    <div style="width: 30%; float: right; height: 90%; margin-top: 15px;">
      <ng-container *ngIf="currentView === profileView.ProfileView">
        <mat-button-toggle title="Change Avatar"
                           style="position: absolute; right: 25px; top: calc(10% + 20px); border-radius: 50%;"
                           (click)="fileInput.click()">
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>
        <app-avatar [size]="260" style="float: left;" [user]="user" [fontSize]="100" [borderRadius]="0"></app-avatar>
        <div style="text-align: center; padding: 15px;">
          <span style="font-size: 25px;">{{user.username}}</span>
        </div>
        <input style="display: none;" type="file" (change)="onFileChanged($event)" accept=".png, .jpg" #fileInput>
        <div>
          <mat-button-toggle style="position: absolute; bottom: 15px; width: calc(30% - 10px);"
                             (click)="currentView = profileView.ProfileEdit">Edit Profile Information
          </mat-button-toggle>
        </div>
      </ng-container>
    </div>
    <div style="position: absolute; bottom: 15px; left: 15px;">
      <div>
        <mat-chip-list>
          <ng-container *ngFor="let theme of themeService.themes">
            <mat-chip color="primary" (click)="themeService.setTheme(theme)">
              {{theme | titlecase}}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
</div>
<div style="height: 60%;"></div>
