<mat-toolbar color="primary" id="navigation-toolbar">
  <div>
    <mat-icon style="cursor: pointer; margin-top: 4px; float: left;" (click)="toggleSidenav()">menu</mat-icon>
    <div style="margin-left: 35px;">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <span *ngIf="!authService.isAuthenticated && !router.url.includes('login')"
      style="position: absolute; right: 30px; top: 15px; cursor: pointer;" [routerLink]="['labeling-tool/login']">
      Login
    </span>
    <ng-container *ngIf="authService.isAuthenticated">
      <app-avatar [matMenuTriggerFor]="menu" [user]="authService.loggedInUser"
        style="position: absolute; right: 15px; top: 5px;"></app-avatar>
      <mat-menu #menu>
        <mat-list style="padding: 0;">
          <mat-list-item [routerLink]="['/labeling-tool/profile']">Profile</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item (click)="apiService.logOut()">Log Out</mat-list-item>
        </mat-list>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
<mat-sidenav-container id="sidenav-container">
  <mat-sidenav fixedInViewport #sidenav mode="side">
    <div>
      <mat-list>
        <mat-list-item [routerLink]="['labeling-tool/home']">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <ng-container *ngIf="authService.isAuthenticated">
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['labeling-tool/check']">
            <mat-icon>check</mat-icon>
            <span>Check</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['labeling-tool/label']">
            <mat-icon>label</mat-icon>
            <span>Label</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['labeling-tool/overview']">
            <mat-icon>view_list</mat-icon>
            <span>Overview</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item [routerLink]="['labeling-tool/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
