<mat-toolbar color="primary" id="navigation-toolbar">
  <div>
    <mat-icon style="cursor: pointer; margin-top: 4px; float: left;" (click)="sidenav.toggle()">menu</mat-icon>
    <div style="margin-left: 35px;">
      <span>Labeling-Tool</span>
      <span>&nbsp;/&nbsp;</span>
      <span>{{breadcrumbService.breadCrumb.getValue() | titlecase}}</span>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container id="sidenav-container">
  <mat-sidenav fixedInViewport #sidenav mode="side">
    <div>
      <mat-list>
        <mat-list-item [routerLink]="['home']">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['check']">
          <mat-icon>check</mat-icon>
          <span>Check</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['label']">
          <mat-icon>label</mat-icon>
          <span>Label</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['overview']">
          <mat-icon>view_list</mat-icon>
          <span>Overview</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="['settings']">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
