<div id="wave">
  <div style="width: 100%">
    <div style="position: relative;" id="waveform"></div>
    <div id="wave-timeline"></div>
  </div>
</div>
<div id="wave-navigation" style="margin-top: 15px;">
  <mat-button-toggle-group>
    <mat-button-toggle (click)="replay()" title="Replay last 5 seconds">
      <mat-icon>replay_5</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="play()" *ngIf="!paused" title="Play">
      <mat-icon>play_arrow</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="pause()" *ngIf="paused" title="Pause">
      <mat-icon>pause</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="reset()" title="Reset">
      <mat-icon>stop</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="skip()" title="Skip 5 Seconds">
      <mat-icon>forward_5</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle title="Volume" style="margin-left: 5px;" (click)="toggleVolume = !toggleVolume">
    <mat-icon >volume_up</mat-icon>
  </mat-button-toggle>
  <mat-slider *ngIf="toggleVolume" min="0" max="100" step="1" value="25" (input)="setVolume($event)"></mat-slider>
  <mat-button-toggle-group style="margin-left: 5px;">
    <mat-button-toggle title="Replay speed 0.5x" (click)="playBackSpeed(0.5)">0.5x</mat-button-toggle>
    <mat-button-toggle title="Replay speed 1x" (click)="playBackSpeed(1)">1x</mat-button-toggle>
    <mat-button-toggle title="Replay speed 1.5x" (click)="playBackSpeed(1.5)">1.5x</mat-button-toggle>
    <mat-button-toggle title="Replay speed 2x" (click)="playBackSpeed(2)">2x</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group style="margin-left: 5px;">
    <mat-button-toggle (click)="addRegion()">
      <mat-icon>add_circle</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="deleteRegion()">
      <mat-icon>delete</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group style="margin-left: 5px;">
    <mat-button-toggle title="Loop" (click)="loopRegion()">
      <mat-icon>loop</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field style="margin-left: 15px; margin-bottom: -15px;">
    <input #seekInput matInput placeholder="Seek">
  </mat-form-field>
  <mat-button-toggle style="margin-left: 15px;" (click)="seekInAudio(seekInput.value)">
    <mat-icon>search</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="openDialog()" style="margin-left: 5px;">
   <span>Precise Region</span>
  </mat-button-toggle>
  <mat-button-toggle style="margin-left: 5px; position: absolute; bottom: 16px; height: 48px;">
    <label style="float: right; cursor: pointer;" for="uploadAudio" title="Upload Audio">
      <mat-icon>cloud_upload</mat-icon>
    </label>
    <input hidden #AudioInput id="uploadAudio" type="file" accept=".mp3"
           (change)="uploadAudioFile(AudioInput.files[0])">
  </mat-button-toggle>
  <div style="float: right;">
    <mat-button-toggle style="margin-right: 5px;" (click)="zoomLevel(zoomLvl - 10)">
      <mat-icon>zoom_out</mat-icon>
    </mat-button-toggle>
    <span style="position: absolute; right: 125px;">{{zoomLevelInput.value}}</span>
    <mat-slider #zoomLevelInput min="1" max="200" [value]="zoomLvl" (input)="zoomLevel($event.value)"></mat-slider>
    <mat-button-toggle (click)="zoomLevel(zoomLvl + 10)">
      <mat-icon>zoom_in</mat-icon>
    </mat-button-toggle>
  </div>
</div>
