<mat-toolbar>
  <div style="width: 100%;">
    <div style="float: left; margin-top: 4px;">
      <mat-icon style="cursor: pointer;" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <div style="float: left; margin-left: 15px;">
      <span>Labeling-Tool</span>
      <span>&nbsp;</span>
      <span>></span>
      <span>&nbsp;</span>
      <span>{{breadcrumbService.breadCrumb.getValue()}}</span>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" style="width: 200px;">
    <div style="padding: 15px;">
      <mat-list>
        <mat-list-item style="cursor: pointer;" [routerLink]="['label']">
          <mat-icon>label</mat-icon>
          <span>Label</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor: pointer;">
          <mat-icon>check</mat-icon>
          <span>Check</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor: pointer;" [routerLink]="['overview']">
          <mat-icon>view_list</mat-icon>
          <span>Overview</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
