<mat-toolbar color="primary" style="position: fixed; z-index: 2;">
  <div style="width: 100%;">
    <div style="float: left; margin-top: 4px;">
      <mat-icon style="cursor: pointer;" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <div style="float: left; margin-left: 15px;">
      <span>Labeling-Tool</span>
      <span>&nbsp;>&nbsp;</span>
      <span>{{breadcrumbService.breadCrumb.getValue()}}</span>
    </div>
    <div style="position: absolute; top: 18px; right: 30px;">
      <mat-icon>help_outline</mat-icon>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container style="position: fixed; height: 100%; min-height: 100%; width: 100%; min-width: 100%;">
  <mat-sidenav fixedInViewport #sidenav mode="side" style="width: 200px; margin-top: 65px;">
    <div style="padding: 15px;">
      <mat-list>
        <mat-list-item style="cursor: pointer;" [routerLink]="['check']">
          <mat-icon>check</mat-icon>
          <span style="margin-left: 15px;">Check</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor: pointer;" [routerLink]="['label']">
          <mat-icon>label</mat-icon>
          <span style="margin-left: 15px;">Label</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="cursor: pointer;" [routerLink]="['overview']">
          <mat-icon>view_list</mat-icon>
          <span style="margin-left: 15px;">Overview</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div style="position: absolute; bottom: 0;">
      <mat-list>
        <mat-list-item>FHNW</mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="margin-top: 65px;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
