<div>
  <mat-card id="header-card">
    <h1>Check</h1>
  </mat-card>
</div>
<div [hidden]="available" style="height: calc(100% - 100px)">
  <mat-spinner style="margin-left: auto; margin-right: auto; top: calc(50% - 150px);"></mat-spinner>
</div>
<div style="position: absolute; right: 15px; width: 48px; height: calc(100% - 280px); z-index: 1;">
  <ng-container *ngFor="let cont of checkIndexArray; let i = index;">
    <mat-card class="info-card">
      <div>
        <mat-icon style="color: green;"
                  *ngIf="checkedTextAudioIndexWithTextArrayCorrect.includes(cont.textAudioIndexWithText)">check
        </mat-icon>
        <mat-icon style="color: red;"
                  *ngIf="checkedTextAudioIndexWithTextArrayWrong.includes(cont.textAudioIndexWithText)">clear
        </mat-icon>
        <mat-icon style="color: gray;"
                  *ngIf="checkedTextAudioIndexWithTextArraySkipped.includes(cont.textAudioIndexWithText)">redo
        </mat-icon>
      </div>
      <div>{{i + 1}}</div>
    </mat-card>
  </ng-container>
</div>
<div [hidden]="!available">
  <div [hidden]="apiService.showTenMoreQuest">
    <div>
      <carousel-component id="carousel" (onSlideChange)="lastSlide()" [morePairSlides]="1" [lockSlides]="true"
                          [perspective]="4000" #carousel>
        <div class="item-carousel" *ngFor="let te of checkIndexArray">
          <mat-card *ngIf="te.id !== carousel.carousel.activeIndex" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
            <div>{{te.textAudioIndexWithText.text}}</div>
          </mat-card>
          <mat-card *ngIf="te.id === carousel.carousel.activeIndex" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
            <div>{{te.textAudioIndexWithText.text}}</div>
          </mat-card>
          <mat-progress-bar *ngIf="te.id === carousel.carousel.activeIndex"
                            style="margin-left: auto; margin-right: auto; border-radius: 10px; transition: none; height: 8px; border-top-left-radius: 0; border-top-right-radius: 0;"
                            mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
      </carousel-component>
      <div *ngIf="apiService.blobUrl != ''">
        <audio #audioPlayer hidden>
          <source [src]="apiService.blobUrl">
        </audio>
      </div>
      <div id="navigation-button-container">
        <mat-button-toggle (click)="setCorrect()">
          <mat-icon>thumb_up</mat-icon>
          <span>&nbsp; Correct</span>
        </mat-button-toggle>
        <mat-button-toggle class="check-navigation-button" (click)="play()">
          <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
          <mat-icon *ngIf="isPlaying">pause</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class="check-navigation-button" (click)="setWrong()">
          <mat-icon>thumb_down</mat-icon>
          <span>&nbsp; Wrong</span>
        </mat-button-toggle>
        <mat-button-toggle class="check-navigation-button" (click)="setSkip()">
          <span>Skip</span>
        </mat-button-toggle>
      </div>
      <div id="shortcut-button">
        <mat-button-toggle (click)="openShortcutDialog()">
          <mat-icon>keyboard</mat-icon>
        </mat-button-toggle>
      </div>
      <div id="session-overview-button">
        <mat-button-toggle (click)="openSessionOverview()">
          <mat-icon>table_chart</mat-icon>
        </mat-button-toggle>
      </div>
    </div>
  </div>
</div>
