#carousel {
  margin-top: 15px;
  height: calc(100% - 15px);
}

#carousel div {
  border: 0;
  height: 300px;
  width: 500px;
  top: 220px;
}

.item-carousel mat-card {
  height: 100%;
}

.item-carousel mat-card div {
  margin-top: 130px;
}

#navigation-button-container {
  position: absolute;
  bottom: calc(100% - 625px);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  width: 336px;
}

.check-navigation-button {
  margin-left: 5px;
}

#shortcut-button {
  position: absolute;
  bottom: 75px;
  left: 15px;
}
