::selection {
  background-color: lightblue;
}

#label-container {
  margin: 0 15px 0 15px;
  height: calc(100% - 100px);
}

.text-container {
  width: calc(70% - 30px);
  float: left;
}

#main-text-container div span {
  white-space: pre-wrap;
}

#select-container {
  width: calc(30% - 50px);
  float: right;
}

#select-container mat-button-toggle-group {
  width: 100%;
}

#select-container mat-button-toggle-group mat-button-toggle {
  width: 50%;
}

#shortcut-button {
  position: absolute;
  bottom: 75px;
  right: 15px;
}

#header-card {
  margin: 15px;
}
