::selection {
  background-color: lightblue;
}

#label-container {
  margin: 0 15px 0 15px;
  height: calc(100% - 15px);
}

#main-text-container {
  width: calc(50% - 30px);
  float: left;
  height: calc(100% - 425px);
  overflow-y: scroll;
}

#main-text-container div span {
  white-space: pre-wrap;
}

#select-container {
  width: calc(50% - 50px);
  float: right;
}

#select-container mat-button-toggle-group {
  width: 100%;
}

#select-container mat-button-toggle-group mat-button-toggle {
  width: 50%;
}

#selected-text-container {
  width: calc(50% - 50px);
  float: right;
}

#selected-text-container:nth-child(2) {
  white-space: pre-wrap;
}

#shortcut-button {
  position: absolute;
  bottom: 75px;
  right: 15px;
}
