<div>
  <mat-card id="header-card">
    <h1>Label</h1>
  </mat-card>
</div>
<div [hidden]="!loading" style="height: calc(100% - 100px)">
  <mat-spinner style="margin-left: auto; margin-right: auto; top: calc(50% - 150px);"></mat-spinner>
</div>
<div [hidden]="loading" id="label-container">
  <mat-card class="top-card">
    <app-audio-player (loading)="getLoading($event)" [textAudioIndexWithText]="dummyTextAudioIndex" (regionPosition)="getRegionSnippet($event)" [audioPosition]="snip"></app-audio-player>
  </mat-card>
  <mat-card id="main-text-container" class="card">
    <h2>Text</h2>
    <div (mouseup)="displayHighlightedText()">
      <span>{{textBegin}}</span>
      <span style="background-color: steelblue;">{{highlightedText}}</span>
      <span>{{textEnd}}</span>
    </div>
  </mat-card>
  <mat-card id="select-container" class="card">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="submitText()">Submit</mat-button-toggle>
      <mat-button-toggle (click)="submitText()">Skip</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
  <mat-card id="selected-text-container" class="card">
    <div>
      <h2>Selected Text</h2>
    </div>
    <div *ngIf="highlightedText != ''">
      <span>{{highlightedText}}</span>
    </div>
  </mat-card>
  <div id="shortcut-button">
    <mat-button-toggle (click)="openShortcutDialog()">
      <mat-icon>keyboard</mat-icon>
    </mat-button-toggle>
  </div>
</div>
