<div>
  <mat-card style="margin: 15px;">
    <h1>Labeling Tool</h1>
  </mat-card>
</div>
<div>
  <mat-card class="top-card" style="margin-left: 15px; width: calc(50% - 55px); float: left;">
    <img src="../../../assets/images/wave.png" height="283" width="1675" style="width: 100%; height: auto;"/>
  </mat-card>
  <mat-card class="top-card" style="margin-right: 15px; width: calc(50% - 55px); float: right;">
    Label
  </mat-card>
</div>
<div>
  <mat-card class="top-card" style="margin-left: 15px; width: calc(50% - 55px); float: left;">
    <img src="../../../assets/images/check.png" height="283" width="1675" style="width: 100%; height: auto;"/>
  </mat-card>
  <mat-card class="top-card" style="margin-right: 15px; width: calc(50% - 55px); float: right;">
    Check
  </mat-card>
</div>
<div>
  <mat-card class="top-card" style="margin-left: 15px; width: calc(50% - 55px); float: left;">
    <img src="../../../assets/images/overview.png" height="283" width="1675" style="width: 100%; height: auto;"/>
  </mat-card>
  <mat-card class="top-card" style="margin-right: 15px; width: calc(50% - 55px); float: right;">
    Overview
  </mat-card>
</div>
