<mat-card class="title-card">
  <h1>Labeling Tool</h1>
</mat-card>
<mat-grid-list id="image-grid" [cols]="10" rowHeight="300px" gutterSize="15">
  <mat-grid-tile class="landing-page-tiles" colspan="4" [routerLink]="['/check']">
    <mat-card>
      <img src="../../../assets/images/check.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="landing-page-tiles" colspan="6" [routerLink]="['/label']">
    <mat-card>
      <img src="../../../assets/images/wave.png">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
