<table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="samplingRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sampling Rate</th>
    <td mat-cell *matCellDef="let element">{{element.samplingRate}}</td>
  </ng-container>
  <ng-container matColumnDef="textStartPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Text Starting Position</th>
    <td mat-cell *matCellDef="let element">{{element.textStartPos}}</td>
  </ng-container>
  <ng-container matColumnDef="textEndPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Text Ending Position</th>
    <td mat-cell *matCellDef="let element">{{element.textEndPos}}</td>
  </ng-container>
  <ng-container matColumnDef="audioStartPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Audio Starting Position</th>
    <td mat-cell *matCellDef="let element">{{element.audioStartPos}}</td>
  </ng-container>
  <ng-container matColumnDef="audioEndPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Audio Ending Position</th>
    <td mat-cell *matCellDef="let element">{{element.audioEndPos}}</td>
  </ng-container>
  <ng-container matColumnDef="speakerKey">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Speaker Key</th>
    <td mat-cell *matCellDef="let element">{{element.speakerKey}}</td>
  </ng-container>
  <ng-container matColumnDef="labeled">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Labeled</th>
    <td mat-cell *matCellDef="let element">{{element.labeled | IntToBooleanPipe}}</td>
  </ng-container>
  <ng-container matColumnDef="correct">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Correct</th>
    <td mat-cell *matCellDef="let element">{{element.correct}}</td>
  </ng-container>
  <ng-container matColumnDef="wrong">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Wrong</th>
    <td mat-cell *matCellDef="let element">{{element.wrong}}</td>
  </ng-container>
  <ng-container matColumnDef="transcriptFileId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Transcript File ID</th>
    <td mat-cell *matCellDef="let element">{{element.transcriptFileId}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
