<mat-card style="position: absolute; top: 0; left: 5px; width: calc(50% + 155px); height: calc(100% - 35px);">
  <table [dataSource]="dataSource" mat-table matSort style="width: 100%; height: calc(100% - 50px);">
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="text">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Text</th>
      <td *matCellDef="let element" mat-cell>{{element.text}}</td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>User ID</th>
      <td *matCellDef="let element" mat-cell>{{element.userId}}</td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr (click)="previewElement(row.id)" *matRowDef="let row; columns: displayedColumns;"
        [class.isSelected]="dummyRecording === row"
        class="table-row"
        mat-row style="height: 25px; cursor: pointer;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  <div style="position: absolute; bottom: 10px; left: 15px;">
    <mat-button-toggle (click)="generateTable()">Export as CSV</mat-button-toggle>
  </div>
</mat-card>
<mat-card style="width: calc(50% - 245px); height: calc(100% - 95px); position: absolute; top: 60px; right: 5px;">
  <div>
    <div id="wave" style="border: 1px solid lightgrey; border-radius: 4px;">
      <div id="waveform" style="cursor: pointer;"></div>
    </div>
    <mat-button-toggle-group>
      <mat-button-toggle *ngIf="!isPlaying" (click)="togglePlay()">
        <mat-icon>play_arrow</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle *ngIf="isPlaying" (click)="togglePlay()">
        <mat-icon>pause</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-card>
