#wave {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 4px;
}

#wave-navigation {
  margin-top: 0;
  margin-right: auto;
  width: 235px;
  margin-left: auto;
}

#wave div {
  width: 100%;
}

#waveform {
  position: relative;
}

#wave-navigation {
  margin-top: 15px;
}

.audio-nav-button {
  margin-left: 5px;
}

mat-form-field {
  margin-bottom: -15px;
}

.zoomLevelValue {
  position: absolute;
  right: 125px;
}
