#recording {
  animation: blinker 1s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.content-card {
  margin: 15px;
}

.background-white {
  background-color: white;
  text-align: center;
}
