<div>
  <mat-card style="margin: 15px 15px 0 15px;">
    <h1>Record</h1>
  </mat-card>
</div>
<div style="margin: 15px;">
  <mat-card>
    <div id="wave" style="border: 1px solid lightgrey; border-radius: 4px;">
      <div id="waveform" style="cursor: pointer;"></div>
    </div>
    <mat-button-toggle-group>
      <mat-button-toggle (click)="startRecord()">Start</mat-button-toggle>
      <mat-button-toggle (click)="stopRecord()">Stop</mat-button-toggle>
    </mat-button-toggle-group>
    <audio [src]="url" [hidden]="url === ''" controls></audio>
  </mat-card>
</div>
<div style="height: calc(100% - 390px);">
  <mat-card class="content-card">
    <ng-container *ngIf="showTextArea">
      <textarea [(ngModel)]="fileContent" style="width: calc(100% - 5px); height: 100%; resize: vertical;"></textarea>
    </ng-container>
    <ng-container *ngIf="!showTextArea">
      <input #uploadTranscript type="file" id="file" hidden (change)="handleFileInput($event.target.files)">
      <mat-button-toggle (click)="uploadTranscript.click()">Upload Transcript</mat-button-toggle>
      <mat-button-toggle style="margin-left: 15px;" (click)="openTranscriptPreviewDialog()"
                         [disabled]="fileContent === ''">Show full Transcript
      </mat-button-toggle>
    </ng-container>
  </mat-card>
</div>
