<div>
  <mat-card style="margin: 15px 15px 0 15px;">
    <h1>Record</h1>
  </mat-card>
</div>
<div style="margin: 15px;">
  <mat-card>
    <mat-button-toggle-group style="margin: 0 0 15px 0;">
      <mat-button-toggle title="Start recording" (click)="startRecord()">
        <mat-icon [ngClass]="isRecordingM()">fiber_manual_record</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle title="Stop recording" (click)="stopRecord()">
        <mat-icon>stop</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle title="Play/Pause recording replay" (click)="togglePlayRecord()">
        <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
        <mat-icon *ngIf="isPlaying">pause</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button style="margin-left: 5px; line-height: 50px; padding: 0 12px; position: absolute;" mat-flat-button
            color="primary"
            title="Submit your recording and transcript" (click)="submit()"
            *ngIf="recordingBlob !== undefined && fileContent !== ''">
      Submit
    </button>
    <button style="margin-left: 5px; line-height: 50px; padding: 0 12px; position: absolute; left: 238px;"
            mat-flat-button color="accent"
            title="Record another one" (click)="recordAnotherOne()"
            *ngIf="recordingBlob !== undefined && fileContent !== ''">
      Record another one
    </button>
    <div [hidden]="!hasStartedRecording" id="wave" style="border: 1px solid lightgrey; border-radius: 4px;">
      <div id="waveform" style="cursor: pointer;"></div>
    </div>
    <div *ngIf="!hasStartedRecording"
         style="border: 1px solid lightgrey; border-radius: 4px; display: flex; align-items: center; justify-content: center; height: 130px;">
      <span>Start recording to see the waveform</span>
    </div>
  </mat-card>
</div>
<div style="height: calc(100% - 390px);">
  <mat-card class="content-card" style="height: calc(100% - 44px);">
    <ng-container>
      <input #uploadTranscript (change)="handleFileInput($event.target.files)" hidden id="file" type="file">
      <mat-button-toggle style="margin: 0 0 15px 0;" (click)="uploadTranscript.click()" title="Upload Transcript File">
        <mat-icon>cloud_upload</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle style="margin: 0 0 15px 5px;" (click)="openTranscriptPreviewDialog()" [disabled]="true">
        Show full Transcript
      </mat-button-toggle>
    </ng-container>
    <ng-container *ngIf="showTextArea">
      <textarea [(ngModel)]="fileContent"
                style="width: calc(100% - 5px); height: calc(100% - 70px); resize: none; border: 1px solid lightgrey; border-radius: 5px;"></textarea>
    </ng-container>
  </mat-card>
</div>
