<div style="display: flex; align-items: center; justify-content: center; height: calc(100% - 70px);">
  <mat-card style="margin: 15px; width: 500px; height: 450px;">
    <mat-card-header>
      <mat-toolbar color="primary" style="position: absolute; left: 0; top: 0;">
        Register
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content style="position: absolute; top: 80px; width: calc(100% - 30px); height: 200px;">
      <form (ngSubmit)="register()" [formGroup]="registerForm">
        <div>
          <mat-form-field style="width: 100%;">
            <input formControlName="firstName" matInput placeholder="First Name" type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input formControlName="lastName" matInput placeholder="Last Name" type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input formControlName="email" matInput placeholder="Email" type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input formControlName="username" matInput placeholder="Username" type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <input formControlName="password" matInput placeholder="Password" type="password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <mat-label>Canton</mat-label>
            <mat-select formControlName="canton">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let canton of apiService.cantons"
                          [value]="canton.cantonId">{{canton.cantonName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button style="width: calc(50% - 5px); border: 1px solid lightgray; height: 50px; float: left;"
                  type="submit">Register
          </button>
          <button (click)="cancel()" mat-button
                  style="width: calc(50% - 5px); border: 1px solid lightgray; height: 50px; float: right;"
                  type="button">Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
