<mat-card id="header-card"><h1>Check</h1></mat-card>
<!--TODO not sure if we want to include some controls etc see https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_audio_all-->
<audio #audioPlayer *ngIf="blobUrl != ''">
  <source [src]="blobUrl">
</audio>

<div *ngIf="textAudios.length===0" style="height: calc(100% - 100px);">
  <div style="height: calc(100% - 90px);">
    <mat-card style="margin: 15px; height: 100%; display: flex; align-items: center; justify-content: center;">
      <div style="font-weight: bold; font-size: 36px;">No Data to display</div>
    </mat-card>
  </div>
</div>
<!--TODO check if the view childs work with the ngif-->
<div *ngIf="textAudios.length>0">
  <carousel-component #carousel [lockSlides]="true" [morePairSlides]="1" [perspective]="4000" id="carousel">
    <div *ngFor="let textAudio of textAudios;let i=index" class="item-carousel">
      <mat-card
        style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
        <div style="width: 100%;">{{textAudio.text}}</div>
      </mat-card>

      <mat-progress-bar *ngIf="i === carousel.carousel.activeIndex" [value]="audioProgress()" mode="determinate"
                        style="margin-left: auto; margin-right: auto; transition: none; height: 8px; border-radius: 0 0 10px 10px;"></mat-progress-bar>
    </div>
  </carousel-component>
  <div id="navigation-button-container">
    <!--FIXME note: disable propery is ignored by the click event-->
    <mat-button-toggle-group>
      <mat-button-toggle (click)="setCheckedType(this.correct)">
        <mat-icon>thumb_up</mat-icon>
        <span>&nbsp;Correct</span>
      </mat-button-toggle>
      <mat-button-toggle *ngIf="!isReady" class="check-navigation-button"
                         style="line-height: 48px;">
        <mat-spinner [diameter]="20" style="top: 5px;"></mat-spinner>
      </mat-button-toggle>
      <mat-button-toggle (click)="playRegion();" *ngIf="isReady && !isPlaying"
                         class="check-navigation-button">
        <mat-icon>play_arrow</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="playRegion();" *ngIf="isReady && isPlaying"
                         class="check-navigation-button">
        <mat-icon>pause</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="setCheckedType(this.wrong)" class="check-navigation-button">
        <mat-icon>thumb_down</mat-icon>
        <span>&nbsp;Wrong</span>
      </mat-button-toggle>
      <mat-button-toggle (click)="setCheckedType(this.skip)" class="check-navigation-button">
        <span>Skip</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div id="shortcut-button">
    <mat-button-toggle (click)="openShortcutDialog()">
      <mat-icon>keyboard</mat-icon>
    </mat-button-toggle>
  </div>
</div>
