<table style="width: 100%; height: calc(100% - 120px);" mat-table [dataSource]="dataSource" matSort id="overview-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="audioStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Audio Start</th>
    <td mat-cell *matCellDef="let element">{{element.audiostart}}</td>
  </ng-container>
  <ng-container matColumnDef="audioEnd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Audio End</th>
    <td mat-cell *matCellDef="let element">{{element.audioend}}</td>
  </ng-container>
  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
    <td mat-cell *matCellDef="let element">{{element.text}}</td>
  </ng-container>
  <ng-container matColumnDef="fileId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>File ID</th>
    <td mat-cell *matCellDef="let element">{{element.fileid}}</td>
  </ng-container>
  <ng-container matColumnDef="speaker">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Speaker</th>
    <td mat-cell *matCellDef="let element">{{element.speaker}}</td>
  </ng-container>
  <ng-container matColumnDef="labeled">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Labeled</th>
    <td mat-cell *matCellDef="let element">{{element.labeled | IntToBooleanPipe}}</td>
  </ng-container>
  <ng-container matColumnDef="correct">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Correct</th>
    <td mat-cell *matCellDef="let element">{{element.correct}}</td>
  </ng-container>
  <ng-container matColumnDef="wrong">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Wrong</th>
    <td mat-cell *matCellDef="let element">{{element.wrong}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr style="height: 25px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
