<div style="margin: 15px;">
  <mat-card id="header-card">
    <h1>Your Profile</h1>
  </mat-card>
</div>
<div>
  <mat-card style="margin: 15px;">
    <div>
      First name:  {{user.firstName}}
    </div>
    <div>
      Last name:  {{user.lastName}}
    </div>
    <div>
      Email:  {{user.email}}
    </div>
  </mat-card>
</div>
<div style="height: calc(100% - 330px);">
  <mat-card style="margin: 15px; height: calc(100% - 40px);">
    <ng-container *ngFor="let t of textAudioIndexArray">
      <div>
        <span>{{t.audioEndPos}}</span>
      </div>
    </ng-container>
  </mat-card>
</div>
