<div id="wave">
  <div id="waveform"></div>
  <div id="wave-timeline"></div>
</div>
<div id="wave-navigation">
  <mat-button-toggle-group>
    <mat-button-toggle (click)="play()" *ngIf="!paused" title="Play">
      <mat-icon>play_arrow</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="pause()" *ngIf="paused" title="Pause">
      <mat-icon>pause</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle class="audio-nav-button" title="Volume" (click)="toggleVolume = !toggleVolume">
    <mat-icon>volume_up</mat-icon>
  </mat-button-toggle>
  <mat-slider *ngIf="toggleVolume" min="0" max="100" step="1" value="25" (input)="setVolume($event)"></mat-slider>
</div>
