<mat-card style="margin: 15px;">
  <h2>Forum</h2>
  <div>
    <mat-button-toggle (click)="openCreateChatDialog()">Create Chat</mat-button-toggle>
    <mat-button-toggle (click)="createChatMessage()">Send Message</mat-button-toggle>
  </div>
</mat-card>
<ng-container *ngFor="let chat of userChatArray">
  <mat-card style="margin: 15px;">
    <strong>{{chat.chatName}}</strong>
    <mat-icon title="Leave this chat" style="margin-left: 15px; cursor: pointer; float: right;">close</mat-icon>
  </mat-card>
</ng-container>
