<div>
  <mat-card id="header-card">
    <h1>Label</h1>
  </mat-card>
</div>
<div [hidden]="!loading" style="height: calc(100% - 100px)">
  <mat-spinner style="margin-left: auto; margin-right: auto; top: calc(50% - 150px);"></mat-spinner>
</div>
<div [hidden]="loading" id="label-container">
  <mat-card class="top-card">
    <app-audio-player (loading)="getLoading($event)" [textAudioIndexWithText]="textAudio"
                      (regionPosition)="getRegionSnippet($event)" [audioPosition]="snip"></app-audio-player>
  </mat-card>
  <mat-card class="card text-container">
    <h2>Text</h2>
    <div>{{textAudio.text}}</div>
  </mat-card>
  <mat-card id="select-container" class="card">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="submitText()">Submit</mat-button-toggle>
      <mat-button-toggle (click)="submitText()">Skip</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</div>
