<div>
  <mat-card id="header-card">
    <h1>Label</h1>
  </mat-card>
</div>
<div [hidden]="!loading" style="height: calc(100% - 100px)">
  <mat-spinner style="margin-left: auto; margin-right: auto; top: calc(50% - 150px);"></mat-spinner>
</div>
<div [hidden]="loading" id="label-container">
  <mat-card class="top-card">
    <app-audio-player (loading)="getLoading($event)" [textAudio]="dummyTextAudio"
                      (regionPosition)="getRegionSnippet($event)" [audioPosition]="snip"></app-audio-player>
  </mat-card>
  <mat-card class="card text-container">
    <h2>Matching Text</h2>
    <p style="margin-bottom: 30px;">
      <mat-divider style="margin-left: 15px; margin-right: 15px; width: calc(100% - 30px);"></mat-divider>
    </p>
    <div style="float: left; width: calc(100% - 65px);">
      <ng-container *ngIf="!editingText">
        <span>{{dummyTextAudio.text}}</span>
      </ng-container>
      <ng-container *ngIf="editingText">
        <textarea #textAreaText style="resize: vertical; width: 100%;" [value]="dummyTextAudio.text"></textarea>
      </ng-container>
    </div>
    <div style="float: right;">
      <mat-button-toggle *ngIf="!editingText" (click)="editText()">
        <mat-icon title="Edit the text">edit</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle *ngIf="editingText" (click)="changeText()">
        <mat-icon title="Submit the text">send</mat-icon>
      </mat-button-toggle>
    </div>
  </mat-card>
  <mat-card id="select-container" class="card">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="submitText()">Submit</mat-button-toggle>
      <mat-button-toggle (click)="submitText()">Skip</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</div>
