/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-card {
  margin: 15px 0 15px 0;
}

.card {
  margin: 0 0 15px 0;
}

.wavesurfer-handle {
  width: 10px !important;
  min-width: 10px !important;
  max-width: None !important;
  background-color: hsl(200, 50%, 58%, 0.4) !important;
}
