/* You can add global styles to this file, and also import other style files */
$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
@import './theme';

html, body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-card {
  margin: 15px 0 15px 0;
}

.title-card {
  margin: 15px 15px 0 15px;
}

.card {
  margin: 0 0 15px 0;
}

.wavesurfer-handle {
  width: 10px !important;
  min-width: 10px !important;
  max-width: None !important;
  background-color: hsl(200, 50%, 58%, 0.4) !important;
}

.pull-right {
  float: right;
}

.search-button {
  margin-left: 15px;
}

.light-snackbar {
  background: white;
  color: black;
  text-align: center;
}

.dark-snackbar {
  background: #424242;
  color: white;
  text-align: center;
}
