/* You can add global styles to this file, and also import other style files */
$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";

html, body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  margin: 0 0 15px 0;
}
