<ng-container *ngIf="authService.loggedInUser.avatarVersion === 0">
  <div [title]="(user.username | titlecase) + ' ' + (user.lastName | titlecase) + ' (' + user.email + ')'" class="avatar" [style.background-color]="color" [style.height]="height" [style.width]="width" [style.font-size.px]="fontSize" [style.border-radius.%]="borderRadius">
  <span>
    {{initials}}
  </span>
  </div>
</ng-container>
<ng-container *ngIf="authService.loggedInUser.avatarVersion !== 0">
  <img class="avatar" [style.width]="width" [style.height]="height" [src]="authService.source">
</ng-container>
