<div class="margin">
  <div style="display: flex; align-items: center; justify-content: center; height: 100%; padding: 0;">
    <div style="width: 100%; height: 100%;">
      <div style="width: 100%; height: 100%;">
        <div id="wave" style="border: 1px solid lightgrey; border-radius: 4px;">
          <div id="waveform" style="cursor: pointer;"></div>
        </div>
        <div id="wave-navigation" style="display: flex; justify-content: left; margin-top: 10px;">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="togglePlay()" *ngIf="!isPlaying" title="Play">
              <mat-icon>play_arrow</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="togglePlay()" *ngIf="isPlaying" title="Pause">
              <mat-icon>pause</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-slider (input)="setVolume($event)" max="100" min="0" step="1"
                      value="100"></mat-slider>
          <mat-button-toggle (click)="setViewToRegion(textAudioCopy)"
                             style="position: absolute; right: 120px; line-height: 49px;"
                             title="Seek selected audio passage">
            <mat-icon>my_location</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="cancelEdit()" style="position: absolute; right: 15px; width: 100px;"
                             title="Toggle Edit">
            <span>Cancel Edit</span>
          </mat-button-toggle>
        </div>
        <div style="height: calc(100% - 200px);" *ngIf="textAudio">
          <div style="width: 100%; border-radius: 4px; height: 100%; margin-top: 10px;">
            <textarea [(ngModel)]="textAudio.text"
                      style="padding: 15px; border-radius: 4px; border: 1px solid lightgray; height: calc(100% - 90px); resize: none; width: calc(100% - 30px); font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: 16px;"></textarea>
            <mat-button-toggle-group style="margin-top: 5px; width: 100%;">
              <mat-button-toggle (click)="submitChange()" class="audio-nav-button" style="width: 100%;">Submit
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
