<mat-card class="top-card">
  <app-audio-player [audioFile]="audio" (snippet)="retrieveSnippet($event)"></app-audio-player>
</mat-card>
<mat-card class="card" *ngIf="(snip.startTime !== -1) && (snip.endTime !== -1)">
  <strong>Marked Region</strong>
  <div>
    <span>Start: {{snip.startTime}}</span>
  </div>
  <div>
    <span>End: {{snip.endTime}}</span>
  </div>
</mat-card>
<mat-card class="card">
  <div>
    <label>Upload Text</label>
  </div>
  <div>
    <input name="uploadText" type="file" accept=".txt" (change)="fileChanged($event)">
  </div>
</mat-card>
<mat-card class="card">
  <div>
    <label>Upload Audio</label>
  </div>
  <div>
    <input #AudioInput name="uploadAudio" type="file" accept=".mp3" (change)="onFileChanged(AudioInput.files[0])">
  </div>
</mat-card>
<mat-card class="card" *ngIf="highlightedText != ''">
  <h2>Selected Text</h2>
  <div>
    <span>{{highlightedText}}</span>
  </div>
</mat-card>
<mat-card class="card" *ngIf="text != ''">
  <h2>Imported Text</h2>
  <div (mouseup)="displayHighlightedText()">
    <span>{{text}}</span>
  </div>
</mat-card>
