<div style="margin: 0 15px 0 15px">
  <mat-card class="top-card">
    <app-audio-player [textAudioIndexWithText]="yeetTextAudioIndex" (regionPosition)="getRegionSnippet($event)" [audioPosition]="snip"></app-audio-player>
  </mat-card>
  <mat-card class="card" style="width: calc(50% - 30px); float: left;">
    <h2>Text</h2>
    <div (mouseup)="displayHighlightedText()">
      <span style="white-space: pre-wrap;">{{text}}</span>
    </div>
  </mat-card>
  <mat-card class="card" style="width: calc(50% - 50px); float: right;">
    <mat-button-toggle-group style="width: 100%;">
      <mat-button-toggle (click)="submitText(1)" style="width: 50%;">Submit</mat-button-toggle>
      <mat-button-toggle (click)="submitText(1)" style="width: 50%;">Skip</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
  <mat-card class="card" style="width: calc(50% - 50px); float: right;">
    <div>
      <h2>Selected Text</h2>
    </div>
    <div *ngIf="highlightedText != ''">
      <span style="white-space: pre-wrap;">{{highlightedText}}</span>
    </div>
  </mat-card>
</div>
